body{
    background-color: rgb(245, 241, 236);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}
img{width: 400px}
header{
    background-color: black;
    /*cor de fundo*/
    color: rgb(204, 225, 243);
    /* cor de texto*/
    text-align: center;
    padding: 4px;
}
footer{
    background-color: black;
    /*cor de fundo*/
    color: antiquewhite;
    /* cor de texto */
    text-align: center;
    padding: 4px; 
}
.container{
    display: block;
    border-style: double;
    border-style: black;
}
.text{
    flex: 2;
    padding: 6%;
}
.imagem{
    flex: 3%;
    text-align: right;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
a:hover{
    color:aqua;
}
a{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav{
    background-color: palegreen;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0%;
}

nav li{
   display: inline;
   margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover{
    color: cornflowerblue;
}

.sobre-titulo{
    font-size: 50px;
    color: dimgray;
    margin: 20px;
}

.sobre-texto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 2.0;
    margin-top: 10px;
}

.sobre-lista{
    list-style: symbols(-);
}